<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blank1</title>

    <!-- Custom fonts for this template-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='image/buturiicon.png') }}">
    <link href="{{url_for('static', filename='css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{url_for('static', filename='css/sb-admin-2.min.css')}}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'topbar.html' %}
                <!-- End of Topbar -->
                <style>
                    #homeLink {
                        color: blue; /* ホームリンクの文字色を青色に設定 */
                        border-bottom: 2px solid blue; /* 下線を青色に設定 */
                    }
                </style>
                

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container">
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" id="homeLink" href="{{ url_for('crud.class_detail', class_id=class_data.id) }}">ストリーム</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{url_for('crud.classcontents', class_id=class_data.id)}}">授業</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{url_for('crud.classanalytics', class_id=class_data.id)}}">アナリティクス</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    
                    <style>
                        .container-fluid {
                            padding-left: 100px; 
                            padding-right: 100px; 
                        }
                    
                        .card-img {
                            height: 250px;
                            object-fit: cover;
                        }
                    
                        .card-img-overlay {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            padding: 10px;
                            background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒色背景 */
                            color: white; /* テキストの色を白に変更 */
                        }
                    
                        .card-title, .card-text {
                            font-weight: bold; /* テキストを太字に */
                        }
                    </style>

                    <!-- Page Heading -->
                    <!-- カード -->
                    <!-- カード -->
                <div class="card text-white">
                    <img class="card-img" src="{{ url_for('static', filename='image/buturi.jpg') }}" alt="背景画像">
                    <div class="card-img-overlay">
                        <h1 class="card-title">{{ class_data.class_name }}</h1>
                        <h3 class="card-text">{{ class_data.subject }}</h3>
                    </div>
                </div>

                    <!-- 左右比2:8で分割されたコンポーネント -->
                    <div class="row">
                        <div class="col-md-2">
                            <!-- 左側のコンテンツ -->
                            <div class="col-auto" style="margin-top: 20px;">
                                <div class="card border-0">
                                    <div class="card-body"id="collapseContent">
                                        <h2 class="card-title" id="collapseContent" style="font-size: 20px;">{{ class_data.class_code }}</h2>
                                        <p class="card-text"id="collapseContent">クラスコード</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto" style="margin-top: 20px;">
                                <a href={{ url_for('crud.seat_assignment_page', class_id=class_data.id) }} class="card-link">
                                    <div class="card border-0">
                                        <!-- 画像を挿入する部分 -->
                                        <div class="card-body" id="collapseContent">
                                            <img src="{{ url_for('static', filename='image/seet.png') }}" class="card-img-top" alt="座席表">
                                            <p class="card-text" id="collapseContent">座席表を作成</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-auto" style="margin-top: 20px;">
                                    <div class="card border-0">
                                        <div id="savedSeatAssignmentsMini" class="mt-3">
                                            <!-- ここに保存された座席表のタイトルが表示されます -->
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <!-- モーダルウィンドウ -->
                        <div class="modal fade" id="seatAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalTitle">座席表の詳細</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- モーダルウィンドウに表示される座席表 -->
                                        <div class="d-flex justify-content-center mb-3">
                                            <div class="blackboard">
                                                黒板
                                            </div>
                                        </div>
                                        <div id="savedSeatAssignments" class="mt-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-10">
                            <!-- テキスト入力フォームが付いたカード -->
                            <style>
                                .input-group {
                                    padding-right: 0; /* カードの左側の余白をなくす */
                                }
                            </style>
                            <style>
                                .input-group-text {
                                    background-color: white; /* 背景色を白に設定 */
                                    border: 1px solid white; /* 枠線を白に設定 */
                                }
                            
                                .input-group .form-control, .input-group .btn {
                                    height: calc(2.25rem + 2px); /* 入力フォームとボタンの高さを合わせる */
                                }
                            </style>

                                <div style="padding-right: 0;">
                                    <form action="{{ url_for('crud.save_announcement', class_id=class_data.id) }}" method="post" onsubmit="addCard(event)">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-white border-white">
                                                    <i class="fas fa-user-circle fa-2x"></i>
                                                </span>
                                            </div>
                                            <textarea class="form-control" id="inputText" name="announcement" placeholder="クラスへの連絡事項を入力" rows="3" oninput="adjustTextAreaHeight(this)"></textarea>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-primary">送信</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div id="announcement-container">
                                        {% for announcement in announcements %}
                                            <div class="card mt-3">
                                                <div class="card-header">
                                                    投稿者名 - {{ announcement.posted_at.strftime('%Y-%m-%d') }}
                                                </div>
                                                <div class="card-body">
                                                    {{ announcement.message | replace('\n', '<br>') | safe }}
                                                    <!-- コメントセクションや追加の機能が必要な場合、ここに追加 -->
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    
                                </div>

                                <style>
                                    #announcement-container {
                                        max-height: 500px; /* コンテナの最大高さを設定 */
                                        overflow-y: auto; /* 垂直方向のスクロールを有効にする */
                                    }
                                </style>
                                

                                <script>
                                var classId = {{ class_data.id }};

                                function displaySavedSeatAssignments() {
                                    fetch(`/class/${classId}/seat-assignments`)
                                        .then(response => response.json())
                                        .then(assignments => {
                                            const miniContainer = document.getElementById('savedSeatAssignmentsMini');
                                            miniContainer.innerHTML = '';

                                            assignments.forEach(assignment => {
                                                const titleElement = document.createElement('p');
                                                titleElement.textContent = assignment.title;
                                                titleElement.style.cursor = 'pointer';
                                                titleElement.onclick = function() {
                                                    showModalWithSeatAssignment(assignment);
                                                };

                                                titleElement.style.textAlign = 'center';
                                                titleElement.style.margin = '0';
                                                titleElement.style.padding = '10px 0';
                                                titleElement.style.fontWeight = 'bold';

                                                miniContainer.appendChild(titleElement);
                                            });
                                        })
                                        .catch(error => {
                                            console.error('Error:', error);
                                            // ここにエラーメッセージを表示するコードを追加
                                        });
                                }

                                function showModalWithSeatAssignment(assignment) {
                                    const modalContainer = document.getElementById('savedSeatAssignments');
                                    modalContainer.innerHTML = ''; // モーダルのコンテンツをクリア

                                    let seatNumber = 1; // 座席番号を初期化

                                    assignment.layout.forEach(row => {
                                        const rowDiv = document.createElement('div');
                                        rowDiv.classList.add('seat-row', 'd-flex');

                                        row.forEach(seat => {
                                            const seatDiv = document.createElement('div');
                                            seatDiv.classList.add('seat', 'border', 'm-1', 'd-flex', 'justify-content-center', 'align-items-center');
                                            seatDiv.style.width = '100px';
                                            seatDiv.style.height = '50px';

                                            if (seat) {
                                                seatDiv.textContent = seat;
                                                seatDiv.classList.add('bg-primary', 'text-white'); // 生徒名がある場合はBootstrapのプライマリーカラークラスを適用
                                            } else {
                                                seatDiv.textContent = seatNumber++; // 空席の場合は座席番号を表示
                                            }

                                            rowDiv.appendChild(seatDiv);
                                        });

                                        modalContainer.appendChild(rowDiv);
                                    });

                                    $('#seatAssignmentModal').modal('show');
                                }


                                window.onload = function() {
                                    displaySavedSeatAssignments();
                                };

                                </script>

                            <script>
                                var classId = {{ class_data.id }};
                                var cardId = 0; // cardIdをグローバル変数として定義
                            
                                function adjustTextAreaHeight(textarea) {
                                    textarea.style.height = 'auto';
                                    textarea.style.height = textarea.scrollHeight + 'px';
                                }
                            
                                function addCard(event) {
                                    event.preventDefault();  // デフォルトのフォーム送信を防止

                                    var inputText = document.getElementById('inputText').value;
                                    var xhr = new XMLHttpRequest();
                                    xhr.open("POST", "/class/" + classId + "/announce", true);
                                    xhr.setRequestHeader("Content-Type", "application/json");
                                    xhr.onreadystatechange = function() {
                                        if (this.readyState == 4 && this.status == 200) {
                                            console.log('Announcement saved');
                                        }
                                    };
                                    xhr.send(JSON.stringify({announcement: inputText}));

                                    var inputText = document.getElementById('inputText').value;
                                    var cardContainer = document.getElementById('cardContainer');
                                    var userName = "松田竜弥"; // 実際の投稿者名を設定
                                    var currentDate = new Date().toLocaleDateString("ja-JP"); // 現在の日付を取得
                            
                                    // 新しいカードのHTMLを生成
                                    var cardHtml = `
                                        <div class="card mt-3">
                                            <div class="card-header">
                                                ${userName} - ${currentDate}
                                            </div>
                                            <div class="card-body">
                                                ${inputText.replace(/\n/g, '<br>')}
                                                <div class="comment-section" id="comments-${cardId}"></div>
                                                <textarea class="form-control mt-2" id="commentText-${cardId}" placeholder="コメントを追加"></textarea>
                                                <button type="button" class="btn btn-secondary mt-2" onclick="addComment(${cardId})">コメント</button>
                                            </div>
                                        </div>`;
                            
                                    // カードをコンテナの最初に追加
                                    cardContainer.insertAdjacentHTML('afterbegin', cardHtml);
                            
                                    // 入力フィールドをクリア
                                    document.getElementById('inputText').value = '';
                                    document.getElementById('inputText').style.height = '';
                            
                                    cardId++;
                                }
                            
                                function addComment(cardId) {
                                    var commentInput = document.getElementById(`commentText-${cardId}`);
                                    var commentContainer = document.getElementById(`comments-${cardId}`);
                            
                                    var commentHtml = `
                                        <div class="mt-2">
                                            <b>湯地調:</b> ${commentInput.value}
                                        </div>`;
                            
                                    commentContainer.insertAdjacentHTML('beforeend', commentHtml);
                                    commentInput.value = '';
                                }
                            </script>
                            
                            
                            
                            <!-- 新しいカードを追加するコンテナ -->
                            <div id="cardContainer"></div>
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'footer.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    {% include 'scroll-to-top.html' %}
    </a>

    <!-- Logout Modal-->
    {% include 'logout-modal.html' %}

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
    

</body>

</html>